<?xml version="1.0" encoding="utf-8"?>
<!--
Supported Browsers
1. Chrome
2. Edge
3. Firefox
4. Opera
5. Brave
-->
<configuration>
	<appSettings>
		<add key="URL" value="https://rahulshettyacademy.com/loginpagePractise/" />
		<add key="Browser" value="Brave" />
		<add key="Headless" value="True" />
		<add key="BravePath" value="C:\\Program Files\\BraveSoftware\\Brave-Browser\\Application\\brave.exe" />
		<add key="ChromiumPath" value="C:\\Users\\Gladson\\AppData\\Local\\Chromium\\Application\\chrome.exe" />
		<add key="OperaPath" value="C:\\Program Files\\Opera\\97.0.4719.63\\opera.exe" />
	</appSettings>
</configuration>
