<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="https://rahulshettyacademy.com/loginpagePractise/"/>
		<add key="Browser" value="Edge"/>
		<add key="Headless" value="true"/>
		<add key="BravePath" value="C:\\Program Files\\BraveSoftware\\Brave-Browser\\Application\\brave.exe"/>
		<add key="ChromiumPath" value="C:\\Program Files\\BraveSoftware\\Brave-Browser\\Application\\brave.exe"/>
		<add key="OperaPath" value="C:\\Program Files\\BraveSoftware\\Brave-Browser\\Application\\brave.exe"/>
	</appSettings>
</configuration>